<h1>PhotoSite User List</h1>
<table>
  <tr>
    <th>User ID</th>
    <th>Last Name</th>
    <th>First Name</th>
  </tr>
  <%= @users.all.each do |user| %>
    <tr>
      <th><%=user.id%></th>
      <th><%=user.last_name%></th>
      <th><%=user.first_name%></th>
    </tr>
  <%end%>

</table>